@import './styles/base.css';

/* tweakcn themes */
@import './styles/claymorphism.css';
@import './styles/darkmatter.css';
@import './styles/modern-minimal.css';
@import './styles/supabase.css';
@import './styles/tangerine.css';
@import './styles/twitter.css';
@import './styles/vercel.css';
@import './styles/violet-bloom.css';
