name: 'build-on-pr'

on:
  pull_request:
    branches:
      - main
      - release

jobs:
  build:
    permissions:
        contents: write
    uses: ./.github/workflows/build.yml
    with:
      publish: false
