name: 'publish'

on:
  push:
    branches:
      - release

jobs:
  build:
    permissions:
      contents: write
    uses: ./.github/workflows/build.yml
    with:
      publish: true
      prerelease: true
